<p class="question">
	<%= f.hidden_field(:_destroy) %>
	<%= f.text_field :title, :placeholder => "Name" %>
	<a onclick="remove_fields(this)" title="Remove" alt="Remove" class="btn-remove">
		<i class="glyphicon glyphicon-minus-sign">
		</i>
	</a>
</p>
