<div class="row">
	<div class="large-4 columns">
		<%= f.label :title, "Name" %>
		<%= f.text_field :title %>
		<%= f.check_box :_destroy %>
  		<%= f.label :_destroy, "Remove Question" %>
	</div>
</div>	