<div class="row fields">
	<div class="large-4 columns">
		<%= f.label :title, "Name" %>
		<%= f.text_field :title %>
		
	</div>
	<div class="large-4 columns">
		<%= link_to_remove_fields "remove", f %>
  	</div>
</div>	