<p class="question">
	<%= f.hidden_field(:_destroy) %>
	<a onclick="remove_fields(this)">
		<i class="glyphicon glyphicon-minus-sign">
		</i>
	</a>
	<%= f.text_field :title, :placeholder => "Name" %>
</p>
