<div class="panel panel-default">
  	<div class="panel-heading">
  		Editing survey
  		<div class="panel-heading-action">
  			<span class="label label-default"><%= link_to 'Show', @survey %></span>
			<span class="label label-default"><%= link_to 'Back', surveys_path %></span>
  		</div>
  	</div>
  	<div class="panel-body">
  		<%= render 'form' %>
	</div>
</div>


