<div class="panel panel-default">
  	<div class="panel-heading">
  		Editing survey
  		<div class="panel-heading-action">
  			<%= link_to 'Show', @survey %>
			<%= link_to 'Back', surveys_path, :class => "btn-back" %>
  		</div>
  	</div>
  	<div class="panel-body">
  		<%= render 'form' %>
	</div>
</div>


