<div class="panel panel-default">
  	<div class="panel-heading">
  		New survey
  		<div class="panel-heading-action">
  			<%= link_to 'Back', surveys_path %>
  		</div>
  	</div>
  	<div class="panel-body">
  		<%= render 'form' %>
	</div>
</div>
