<div class="header-container">
    <header class="wrapper clearfix">
        <h1 class="title">TopTen</h1>
        <nav>
            <ul>
                <li><%= link_to 'New Survey', new_survey_path %></li>
                <li><a href="#">nav ul li a</a></li>
                <li><a href="#">nav ul li a</a></li>
            </ul>
        </nav>
    </header>
</div>