<nav class="navbar navbar-default" role="navigation">
	<div class="navbar-header">
		<a class="navbar-brand" href="#">Home</a>
	</div>
	<ul class="nav navbar-nav navbar-right">
		<li><%= link_to 'New Survey', new_survey_path %></li>
		<li><a href="#">Link 1</a></li>
		<li><a href="#">Link 2</a></li>
	</ul>
</nav>